#projects{
    display: flex;
    background-image: url(../../assets/HTML_Blog-scaled.jpeg);
}

.proj-title-con{
    border: solid 5px #a5d6ed;
    border-radius: 10px;
    box-shadow: 4px 4px #1e9bd5;
    background-color: #7ac3e4;
    color: #0d9fe3;
    margin: 15px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.proj-main-title{
    color:#2194dc;
    text-shadow: #2134a0 2px 2px;
    font-family: 'Encode Sans SC', sans-serif;
}

.proj-sub-title{
    color: #2194dc;
}

.proj-sub{
    color: #2194dc;
    text-shadow: #021060 2px 2px;
}

.proj-container{
    border: solid 5px #a5d6ed;
    border-radius: 10px;
    box-shadow: 4px 4px #1e9bd5;
    background-color: #7ac3e4;
    color: #2194dc;
    margin: 15px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.proj-image{
    width: 50%;
    border: solid 5px #2194dc;
    border-radius: 10px;
    box-shadow: 4px 4px #012055;
}

.proj-image:hover{
    transform: scale(1.02);
}

.proj-sub{
    padding: 10px;
}

.repo{
    color: #2194dc;
}

.repo:hover{
    color: #be61f0;
}