.navbar{
    background-color: #f7e698;
}

.link{
    color: #f7e698;
    font-weight: bold;
    text-shadow: 1px 1px#f4d54c;
    align-items: center;
}

.nav-item{
    background-color: #f98ba5;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 5px;
    box-shadow: 2px 2px;
}

.nav-item:hover{
    transform: scale(1.05);
}

.link:hover{
    color: #7ac3e4;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    
  }