.about-container{
    background: url(../../assets/HTML_Blog-scaled.jpeg);
    padding: 50px;
  
}

.beau-img{
    width: 20%;
    border: solid 5px #7ac3e4;
    border-radius: 10px;
    box-shadow: 5px 5px #0c9fe3;
    margin: 15px;
}

.button{
    border: solid 2px #7ac3e4;
    border-radius: 10px;
    box-shadow: 4px 4px #0d9fe3;
    background-color: #7ac3e4;
    color: #0d9fe3;
    margin: 5px;
    padding: 5px;
}

.button:hover{
    transform: scale(1.05);
    color: #f98ba5;
}

.info-container{
    border: solid 5px #a5d6ed;
    border-radius: 10px;
    box-shadow: 4px 4px #1e9bd5;
    background-color: #7ac3e4;
    color: #0d9fe3;
    margin: 10px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
}