.contact-container{
    background-image: url(../../assets/HTML_Blog-scaled.jpeg);
    padding: 50px;
}

.beau-img{
    width: 20%;
}

.contact-title{
    border: solid 5px#a5d6ed;
    border-radius: 10px;
    box-shadow: 4px 4px#1e9bd5;
    background-color: #7ac3e4;
    color: #2194dc;
    margin: 15px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.contact-info{
    border: solid 5px #a5d6ed;
    border-radius: 10px;
    box-shadow: 4px 4px #1e9bd5;
    background-color: #7ac3e4;
    color: #2194dc;
    margin: 15px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.email,
.number{
    font-size: xx-large;
    color: #2194dc;
}

.email:hover,
.number:hover{
    color: #f98ba5;
}