.contact-container{
    background-image: url(../../assets/HTML_Blog-scaled.jpeg);
    background-position: center;
    background-size: cover;
}

.beau-img{
    width: 20%;
}

.contact-title{
    border: solid 5px #560183;
    border-radius: 10px;
    box-shadow: 4px 4px #560183;
    background-color: #7E00C2;
    color: #2194dc;
    margin: 15px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.contact-info{
    border: solid 5px #560183;
    border-radius: 10px;
    box-shadow: 4px 4px #560183;
    background-color: #7E00C2;
    color: #2194dc;
    margin: 15px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.email,
.number{
    font-size: xx-large;
    color: #2194dc;
}

.email:hover,
.number:hover{
    color: #be61f0;
}